@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

/* Custom styles start here */

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-display;
}

:root {
    --sl-color-bg-nav: var(--sl-color-black);
    --sl-color-bg-inline-code: var(--sl-color-gray-6);
    --sl-color-bg-sidebar: var(--sl-color-bg);
    --sl-color-hairline-shade: var(--sl-color-gray-6);
}

.sl-markdown-content code:not(:where(.not-content *)) {
    color: var(--sl-color-gray-1);
}

.sl-markdown-content h2::before {
    content: "## ";
    opacity: 0.5;
    font-weight: normal;
}
.sl-markdown-content h3::before {
    content: "### ";
    opacity: 0.5;
    font-weight: normal;
}
.sl-markdown-content h4::before {
    content: "#### ";
    opacity: 0.5;
    font-weight: normal;
}
