---
const blogPosts = await Astro.glob("../content/docs/blog/*.mdx")
const p = blogPosts.find(
    (p) => Astro.url.pathname.includes(
        p.url.replace("src/content/docs", "").replace(".mdx", "")
    )
)
---

<hr class="mb-2 pt-4">
Published on {new Date(p.frontmatter.date).toISOString().substring(0, 10)}.
<br>
Authors:
<div class="pt-4 flex flex-col gap-8">
    {p.frontmatter.authors.map((a) => 
        <a href={"https://github.com/"+a.github} class="ml-4 mr-2 outline-gray-900 dark:outline-gray-200 outline outline-1 flex flex-row gap-2 no-underline group">
            <img src={a.img} class="w-24 -translate-x-4 -translate-y-4 outline-gray-900 dark:outline-gray-200 outline outline-1"/>
            <div class="flex flex-col dark:text-gray-200 text-gray-800"> 
                {a.name}<br>
                <span class="dark:group-hover:text-gray-400 group-hover:text-gray-700 group-hover:underline group-active:underline group-focus:underline    ">@{a.github}</span>
            </div>
        </a>
    )}    
</div>
