---
import { Icon } from "astro-icon/components";
const { title, icon } = Astro.props;
---

<article
    class="m-2 my-4 outline outline-1 outline-gray-900 dark:outline-gray-200 sm:m-4"
>
    <h3
        class="flex -translate-x-3 -translate-y-3 flex-row
        justify-center gap-2 bg-gradient-to-b from-accent-100 to-gray-300
        p-5 text-center font-sans !text-2xl !font-normal outline outline-1
        outline-gray-900 before:hidden dark:from-gray-900 dark:to-gray-800 dark:outline-gray-200"
    >
        {title}
        <Icon name={icon} class="w-6" />
    </h3>
    <div class="p-8 px-12 pt-2">
        <slot />
    </div>
</article>
