---
import Default from "@astrojs/starlight/components/Footer.astro";
import type { StarlightRouteData } from '@astrojs/starlight/route-data';
import NavLinks from "@components/NavLinks.astro";

const isFrontPage = Astro.url.pathname === "/";
---

{
    isFrontPage ? (
        <>
            <hr class="mt-32" />
            <footer class="absolute left-0 h-16 w-screen bg-gradient-to-b from-accent-300/50 to-transparent dark:from-gray-600/50">
                <div class="flex h-16 flex-row items-center justify-center md:justify-start gap-4 sm:gap-8 px-8">
                    <NavLinks {...Astro.locals.starlightRoute} />
                </div>
            </footer>
        </>
    ) : (
        <Default {...(Astro.locals.starlightRoute as StarlightRouteData)} />
    )
}

<style is:inline>
    @media screen and (max-width: 400px) {
        footer div {
            --tw-translate-x: 0 !important;
            --tw-translate-y: 0 !important;
            flex-wrap: wrap;
            padding-right: 6rem !important;
            padding-top: 1rem;
            padding-bottom: 1rem;
            height: min-content !important;
            line-height: 1.2;
        }
    }
</style>
