<a href="/" class="no-underline dark:text-gray-300 text-gray-700 hover:underline">
    Home
</a>
<a href="/learn/getting-started/" class="no-underline dark:text-gray-300 text-gray-700 hover:underline">
    Docs
</a>
<a href="https://github.com/blue-build/" class="no-underline dark:text-gray-300 text-gray-700 hover:underline">
    GitHub
</a>
<a href="/community" class="no-underline dark:text-gray-300 text-gray-700 hover:underline">
    Community
</a>