<a href="/" class="no-underline text-gray-300 hover:underline">
    Home
</a>
<a href="/learn/getting-started/" class="no-underline text-gray-300 hover:underline">
    Docs
</a>
<a href="https://github.com/blue-build/" class="no-underline text-gray-300 hover:underline">
    GitHub
</a>
<a href="/community" class="no-underline text-gray-300 hover:underline">
    Community
</a>