@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Add additional Tailwind styles to this file, for example with @layer:
https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
*/

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}

:root {
    --sl-color-bg-nav: var(--sl-color-black);
}